PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"

FIREBASE_PROJECT_ID="project_id"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@project_id.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="XXXXXXXXXXXXXXXX"

SUPABASE_URL="https://XXXXXXXXX.supabase.co"
SUPABASE_SECRET_KEY="sb_secret_XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SUPABASE_PROFILE_PHOTOS_BUCKET=Bucket_name
